//text
$text: #353232;
$lightText: #fff;
//backgrounds 
$mainBackground: #5E5E5E;
$actionBackground: #353232;
$lightBackground: #F5F5F5;
$cardBackground: #FBFBFB;
//borders
$primaryBorder: #353232;
$separator: #9E9D9D;